body,html {
    margin: 0;
    padding: 0;
    background-color: #2d7aa0;
    font-size: xx-large;
}
.time {
    text-align: center;
}
#clock {
    font-size: xx-large;
    text-decoration-color: black;
    text-align: center;
}